<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #aaa;
  background-color: #aaa;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Medic View</h2>
<a href="http://127.0.0.1:8000/biometrics_did/team_lead">Click here for Team Lead View</a>
<div class="row">
  <div class="column"> 
    <h2>{{ s1_first_name }} {{ s1_last_name }}</h2>
    <p>Water: {{ s1_water }}</p>
    <p>Body Temperature Differential: {{ s1_body_diff }}</p>
    <p>Heart Rate: {{ s1_heart_rate }}</p>
    <p>Moisture: {{ s1_moisture }}</p> 
    <p>BMI: {{ s1_bmi }}</p>
    {% load static %}
    <p>Water Intake:<br><img src="{% static "soldier1_water.jpg" %}" alt="My image" height="300" width="250">
  </div>
  <div class="column">
    <h2>{{ s2_first_name }} {{ s2_last_name }}</h2>
    <p>Water: {{ s2_water }}</p>
    <p>Body Temperature Differential: {{ s2_body_diff }}</p>
    <p>Heart Rate: {{ s2_heart_rate }}</p>
    <p>Moisture: {{ s2_moisture }}</p> 
    <p>BMI: {{ s2_bmi }}</p>
    <p>Water Intake:<br><img src="{% static "soldier2_water.jpg" %}" alt="My image" height="300" width="250">
  </div>
  <div class="column"> 
    <h2>{{ s3_first_name }} {{ s3_last_name }}</h2>
    <p>Water: {{ s3_water }}</p>
    <p>Body Temperature Differential: {{ s3_body_diff }}</p>
    <p>Heart Rate: {{ s3_heart_rate }}</p>
    <p>Moisture: {{ s3_moisture }}</p> 
    <p>BMI: {{ s3_bmi }}</p>
    <p>Water Intake:<br><img src="{% static "soldier3_water.jpg" %}" alt="My image" height="300" width="250">
  </div>
  <div class="column">
    <h2>{{ s4_first_name }} {{ s4_last_name }}</h2>
    <p>Water: {{ s4_water }}</p>
    <p>Body Temperature Differential: {{ s4_body_diff }}</p>
    <p>Heart Rate: {{ s4_heart_rate }}</p>
    <p>Moisture: {{ s4_moisture }}</p> 
    <p>BMI: {{ s4_bmi }}</p>
    <p>Water Intake:<br><img src="{% static "soldier4_water.jpg" %}" alt="My image" height="300" width="250">
  </div>
</div>

</body>
</html>

